<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>class10</key>
  <array>
    <string>_1772</string>
    <string>_1772</string>
    <string>_1768</string>
    <string>_1768</string>
    <string>_1766</string>
    <string>_1766</string>
    <string>_1774</string>
    <string>_1774</string>
    <string>_122</string>
    <string>_122</string>
    <string>_123</string>
    <string>_123</string>
    <string>_1769</string>
    <string>_1769</string>
    <string>_1767</string>
    <string>_1767</string>
    <string>_1770</string>
    <string>_1770</string>
    <string>_1775</string>
    <string>_1775</string>
    <string>_124</string>
    <string>_124</string>
    <string>_1771</string>
    <string>_1771</string>
    <string>_1773</string>
    <string>_1773</string>
    <string>_1776</string>
    <string>_1776</string>
    <string>_1777</string>
    <string>_1777</string>
  </array>
</dict>
</plist>
