<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A</key>
  <dict>
    <key>C</key>
    <integer>-45</integer>
    <key>G</key>
    <integer>-27</integer>
    <key>O</key>
    <integer>-41</integer>
    <key>Q</key>
    <integer>-45</integer>
    <key>U</key>
    <integer>-27</integer>
    <key>V</key>
    <integer>-151</integer>
    <key>W</key>
    <integer>-145</integer>
    <key>Y</key>
    <integer>-17</integer>
    <key>c</key>
    <integer>-11</integer>
    <key>quotedblright</key>
    <integer>-225</integer>
    <key>quoteright</key>
    <integer>-225</integer>
    <key>slash</key>
    <integer>-11</integer>
    <key>v</key>
    <integer>-67</integer>
    <key>w</key>
    <integer>-61</integer>
    <key>y</key>
    <integer>-11</integer>
  </dict>
  <key>B</key>
  <dict>
    <key>A</key>
    <integer>-63</integer>
    <key>V</key>
    <integer>-41</integer>
    <key>W</key>
    <integer>-51</integer>
    <key>Y</key>
    <integer>-25</integer>
    <key>comma</key>
    <integer>-69</integer>
    <key>exclam</key>
    <integer>-57</integer>
    <key>period</key>
    <integer>-57</integer>
    <key>question</key>
    <integer>-19</integer>
    <key>slash</key>
    <integer>-91</integer>
  </dict>
  <key>C</key>
  <dict>
    <key>A</key>
    <integer>-107</integer>
    <key>comma</key>
    <integer>-99</integer>
    <key>exclam</key>
    <integer>-83</integer>
    <key>period</key>
    <integer>-87</integer>
    <key>question</key>
    <integer>-35</integer>
    <key>r</key>
    <integer>-39</integer>
    <key>slash</key>
    <integer>-115</integer>
    <key>u</key>
    <integer>-31</integer>
    <key>y</key>
    <integer>-47</integer>
    <key>z</key>
    <integer>-69</integer>
  </dict>
  <key>D</key>
  <dict>
    <key>A</key>
    <integer>-103</integer>
    <key>V</key>
    <integer>-63</integer>
    <key>W</key>
    <integer>-69</integer>
    <key>X</key>
    <integer>-29</integer>
    <key>Y</key>
    <integer>-25</integer>
    <key>comma</key>
    <integer>-109</integer>
    <key>exclam</key>
    <integer>-51</integer>
    <key>h</key>
    <integer>-21</integer>
    <key>period</key>
    <integer>-95</integer>
    <key>question</key>
    <integer>-13</integer>
    <key>slash</key>
    <integer>-113</integer>
  </dict>
  <key>E</key>
  <dict>
    <key>W</key>
    <integer>-11</integer>
    <key>b</key>
    <integer>-21</integer>
    <key>comma</key>
    <integer>-85</integer>
    <key>d</key>
    <integer>-11</integer>
    <key>exclam</key>
    <integer>-57</integer>
    <key>g</key>
    <integer>-49</integer>
    <key>h</key>
    <integer>-27</integer>
    <key>j</key>
    <integer>-67</integer>
    <key>k</key>
    <integer>-27</integer>
    <key>l</key>
    <integer>-13</integer>
    <key>m</key>
    <integer>-19</integer>
    <key>n</key>
    <integer>-19</integer>
    <key>p</key>
    <integer>-39</integer>
    <key>period</key>
    <integer>-59</integer>
    <key>question</key>
    <integer>-33</integer>
    <key>r</key>
    <integer>-13</integer>
    <key>slash</key>
    <integer>-71</integer>
    <key>x</key>
    <integer>-37</integer>
    <key>y</key>
    <integer>-19</integer>
    <key>z</key>
    <integer>-41</integer>
  </dict>
  <key>F</key>
  <dict>
    <key>A</key>
    <integer>-211</integer>
    <key>a</key>
    <integer>-145</integer>
    <key>comma</key>
    <integer>-295</integer>
    <key>e</key>
    <integer>-67</integer>
    <key>exclam</key>
    <integer>-109</integer>
    <key>i</key>
    <integer>-49</integer>
    <key>o</key>
    <integer>-139</integer>
    <key>one</key>
    <integer>-85</integer>
    <key>period</key>
    <integer>-230</integer>
    <key>question</key>
    <integer>-33</integer>
    <key>r</key>
    <integer>-103</integer>
    <key>slash</key>
    <integer>-213</integer>
    <key>u</key>
    <integer>-93</integer>
    <key>y</key>
    <integer>-109</integer>
  </dict>
  <key>G</key>
  <dict>
    <key>comma</key>
    <integer>-150</integer>
    <key>exclam</key>
    <integer>-25</integer>
    <key>period</key>
    <integer>-100</integer>
    <key>question</key>
    <integer>-27</integer>
    <key>slash</key>
    <integer>-31</integer>
    <key>y</key>
    <integer>-31</integer>
  </dict>
  <key>H</key>
  <dict>
    <key>a</key>
    <integer>-71</integer>
    <key>comma</key>
    <integer>-111</integer>
    <key>e</key>
    <integer>-21</integer>
    <key>i</key>
    <integer>-35</integer>
    <key>o</key>
    <integer>-69</integer>
    <key>period</key>
    <integer>-89</integer>
    <key>question</key>
    <integer>-37</integer>
    <key>slash</key>
    <integer>-91</integer>
    <key>u</key>
    <integer>-37</integer>
    <key>y</key>
    <integer>-55</integer>
  </dict>
  <key>I</key>
  <dict>
    <key>a</key>
    <integer>-73</integer>
    <key>b</key>
    <integer>-21</integer>
    <key>c</key>
    <integer>-67</integer>
    <key>d</key>
    <integer>-75</integer>
    <key>e</key>
    <integer>-21</integer>
    <key>g</key>
    <integer>-77</integer>
    <key>i</key>
    <integer>-35</integer>
    <key>j</key>
    <integer>-95</integer>
    <key>k</key>
    <integer>-27</integer>
    <key>l</key>
    <integer>-13</integer>
    <key>m</key>
    <integer>-53</integer>
    <key>n</key>
    <integer>-53</integer>
    <key>o</key>
    <integer>-69</integer>
    <key>p</key>
    <integer>-73</integer>
    <key>question</key>
    <integer>-35</integer>
    <key>r</key>
    <integer>-49</integer>
    <key>s</key>
    <integer>-71</integer>
    <key>t</key>
    <integer>-43</integer>
    <key>u</key>
    <integer>-37</integer>
    <key>v</key>
    <integer>-23</integer>
    <key>w</key>
    <integer>-23</integer>
    <key>y</key>
    <integer>-53</integer>
    <key>z</key>
    <integer>-69</integer>
  </dict>
  <key>J</key>
  <dict>
    <key>A</key>
    <integer>-151</integer>
    <key>a</key>
    <integer>-111</integer>
    <key>comma</key>
    <integer>-183</integer>
    <key>e</key>
    <integer>-41</integer>
    <key>exclam</key>
    <integer>-105</integer>
    <key>i</key>
    <integer>-45</integer>
    <key>o</key>
    <integer>-105</integer>
    <key>period</key>
    <integer>-163</integer>
    <key>question</key>
    <integer>-37</integer>
    <key>slash</key>
    <integer>-187</integer>
    <key>u</key>
    <integer>-61</integer>
    <key>y</key>
    <integer>-79</integer>
  </dict>
  <key>K</key>
  <dict>
    <key>O</key>
    <integer>-50</integer>
  </dict>
  <key>L</key>
  <dict>
    <key>V</key>
    <integer>-95</integer>
    <key>Y</key>
    <integer>-23</integer>
  </dict>
  <key>M</key>
  <dict>
    <key>c</key>
    <integer>-19</integer>
    <key>j</key>
    <integer>-19</integer>
    <key>o</key>
    <integer>-19</integer>
    <key>period</key>
    <integer>-19</integer>
    <key>slash</key>
    <integer>-21</integer>
  </dict>
  <key>N</key>
  <dict>
    <key>A</key>
    <integer>-29</integer>
    <key>period</key>
    <integer>-45</integer>
    <key>slash</key>
    <integer>-61</integer>
  </dict>
  <key>O</key>
  <dict>
    <key>V</key>
    <integer>-59</integer>
    <key>W</key>
    <integer>-65</integer>
    <key>X</key>
    <integer>-37</integer>
    <key>Y</key>
    <integer>-25</integer>
    <key>a</key>
    <integer>-17</integer>
    <key>b</key>
    <integer>-21</integer>
    <key>comma</key>
    <integer>-123</integer>
    <key>d</key>
    <integer>-21</integer>
    <key>exclam</key>
    <integer>-59</integer>
    <key>h</key>
    <integer>-31</integer>
    <key>j</key>
    <integer>-57</integer>
    <key>l</key>
    <integer>-13</integer>
    <key>period</key>
    <integer>-109</integer>
    <key>question</key>
    <integer>-17</integer>
    <key>slash</key>
    <integer>-129</integer>
    <key>z</key>
    <integer>-31</integer>
  </dict>
  <key>P</key>
  <dict>
    <key>A</key>
    <integer>-167</integer>
    <key>H</key>
    <integer>-61</integer>
    <key>comma</key>
    <integer>-279</integer>
    <key>exclam</key>
    <integer>-75</integer>
    <key>h</key>
    <integer>-41</integer>
    <key>one</key>
    <integer>-87</integer>
    <key>question</key>
    <integer>-19</integer>
    <key>s</key>
    <integer>-57</integer>
    <key>slash</key>
    <integer>-173</integer>
  </dict>
  <key>Q</key>
  <dict>
    <key>V</key>
    <integer>-57</integer>
    <key>W</key>
    <integer>-65</integer>
    <key>Y</key>
    <integer>-25</integer>
    <key>a</key>
    <integer>-17</integer>
    <key>period</key>
    <integer>-49</integer>
  </dict>
  <key>R</key>
  <dict>
    <key>V</key>
    <integer>-53</integer>
    <key>W</key>
    <integer>-63</integer>
    <key>Y</key>
    <integer>-13</integer>
  </dict>
  <key>S</key>
  <dict>
    <key>a</key>
    <integer>-21</integer>
    <key>comma</key>
    <integer>-87</integer>
    <key>exclam</key>
    <integer>-67</integer>
    <key>h</key>
    <integer>-29</integer>
    <key>i</key>
    <integer>-13</integer>
    <key>j</key>
    <integer>-83</integer>
    <key>k</key>
    <integer>-29</integer>
    <key>l</key>
    <integer>-13</integer>
    <key>m</key>
    <integer>-31</integer>
    <key>n</key>
    <integer>-31</integer>
    <key>p</key>
    <integer>-51</integer>
    <key>period</key>
    <integer>-69</integer>
    <key>question</key>
    <integer>-35</integer>
    <key>r</key>
    <integer>-27</integer>
    <key>slash</key>
    <integer>-97</integer>
    <key>t</key>
    <integer>-21</integer>
    <key>u</key>
    <integer>-15</integer>
    <key>y</key>
    <integer>-31</integer>
  </dict>
  <key>T</key>
  <dict>
    <key>A</key>
    <integer>-167</integer>
    <key>C</key>
    <integer>-41</integer>
    <key>O</key>
    <integer>-59</integer>
    <key>Q</key>
    <integer>-61</integer>
    <key>X</key>
    <integer>-27</integer>
    <key>a</key>
    <integer>-137</integer>
    <key>colon</key>
    <integer>-141</integer>
    <key>comma</key>
    <integer>-215</integer>
    <key>e</key>
    <integer>-35</integer>
    <key>h</key>
    <integer>-19</integer>
    <key>hyphen</key>
    <integer>-111</integer>
    <key>i</key>
    <integer>-41</integer>
    <key>m</key>
    <integer>-75</integer>
    <key>o</key>
    <integer>-129</integer>
    <key>period</key>
    <integer>-193</integer>
    <key>question</key>
    <integer>-29</integer>
    <key>quoteright</key>
    <integer>-123</integer>
    <key>r</key>
    <integer>-69</integer>
    <key>s</key>
    <integer>-133</integer>
    <key>semicolon</key>
    <integer>-167</integer>
    <key>u</key>
    <integer>-57</integer>
    <key>w</key>
    <integer>-43</integer>
    <key>y</key>
    <integer>-73</integer>
  </dict>
  <key>U</key>
  <dict>
    <key>A</key>
    <integer>-173</integer>
    <key>a</key>
    <integer>-113</integer>
    <key>c</key>
    <integer>-105</integer>
    <key>comma</key>
    <integer>-191</integer>
    <key>d</key>
    <integer>-115</integer>
    <key>g</key>
    <integer>-129</integer>
    <key>i</key>
    <integer>-43</integer>
    <key>m</key>
    <integer>-77</integer>
    <key>n</key>
    <integer>-77</integer>
    <key>p</key>
    <integer>-97</integer>
    <key>period</key>
    <integer>-175</integer>
    <key>s</key>
    <integer>-131</integer>
    <key>slash</key>
    <integer>-211</integer>
    <key>v</key>
    <integer>-49</integer>
    <key>y</key>
    <integer>-79</integer>
  </dict>
  <key>V</key>
  <dict>
    <key>C</key>
    <integer>-109</integer>
    <key>O</key>
    <integer>-125</integer>
    <key>Q</key>
    <integer>-129</integer>
    <key>a</key>
    <integer>-183</integer>
    <key>colon</key>
    <integer>-173</integer>
    <key>e</key>
    <integer>-67</integer>
    <key>hyphen</key>
    <integer>-153</integer>
    <key>i</key>
    <integer>-45</integer>
    <key>o</key>
    <integer>-175</integer>
    <key>period</key>
    <integer>-255</integer>
    <key>question</key>
    <integer>-37</integer>
    <key>quoteright</key>
    <integer>-127</integer>
    <key>r</key>
    <integer>-103</integer>
  </dict>
  <key>W</key>
  <dict>
    <key>A</key>
    <integer>-193</integer>
    <key>C</key>
    <integer>-81</integer>
    <key>O</key>
    <integer>-91</integer>
    <key>Q</key>
    <integer>-97</integer>
    <key>a</key>
    <integer>-141</integer>
    <key>colon</key>
    <integer>-143</integer>
    <key>d</key>
    <integer>-145</integer>
    <key>dotlessi</key>
    <integer>-57</integer>
    <key>e</key>
    <integer>-37</integer>
    <key>hyphen</key>
    <integer>-115</integer>
    <key>i</key>
    <integer>-25</integer>
    <key>period</key>
    <integer>-205</integer>
    <key>question</key>
    <integer>-17</integer>
    <key>r</key>
    <integer>-73</integer>
    <key>u</key>
    <integer>-61</integer>
  </dict>
  <key>X</key>
  <dict>
    <key>C</key>
    <integer>-29</integer>
    <key>O</key>
    <integer>-31</integer>
    <key>Q</key>
    <integer>-35</integer>
    <key>e</key>
    <integer>-11</integer>
    <key>exclam</key>
    <integer>-45</integer>
    <key>question</key>
    <integer>-37</integer>
    <key>quoteright</key>
    <integer>-127</integer>
    <key>slash</key>
    <integer>-51</integer>
    <key>u</key>
    <integer>-23</integer>
  </dict>
  <key>Y</key>
  <dict>
    <key>O</key>
    <integer>-79</integer>
    <key>S</key>
    <integer>-57</integer>
    <key>a</key>
    <integer>-121</integer>
    <key>colon</key>
    <integer>-135</integer>
    <key>comma</key>
    <integer>-191</integer>
    <key>d</key>
    <integer>-123</integer>
    <key>e</key>
    <integer>-27</integer>
    <key>i</key>
    <integer>-25</integer>
    <key>o</key>
    <integer>-115</integer>
    <key>question</key>
    <integer>-17</integer>
    <key>slash</key>
    <integer>-171</integer>
    <key>t</key>
    <integer>-57</integer>
  </dict>
  <key>Z</key>
  <dict>
    <key>A</key>
    <integer>-21</integer>
    <key>comma</key>
    <integer>-69</integer>
    <key>exclam</key>
    <integer>-41</integer>
    <key>slash</key>
    <integer>-53</integer>
    <key>y</key>
    <integer>-19</integer>
  </dict>
  <key>a</key>
  <dict>
    <key>exclam</key>
    <integer>-29</integer>
    <key>g</key>
    <integer>-41</integer>
    <key>p</key>
    <integer>-11</integer>
    <key>question</key>
    <integer>-27</integer>
    <key>quotedblright</key>
    <integer>-143</integer>
    <key>quoteright</key>
    <integer>-143</integer>
    <key>semicolon</key>
    <integer>-47</integer>
    <key>slash</key>
    <integer>-65</integer>
    <key>y</key>
    <integer>-23</integer>
  </dict>
  <key>b</key>
  <dict>
    <key>b</key>
    <integer>-33</integer>
    <key>colon</key>
    <integer>-65</integer>
    <key>comma</key>
    <integer>-109</integer>
    <key>exclam</key>
    <integer>-71</integer>
    <key>l</key>
    <integer>-27</integer>
    <key>period</key>
    <integer>-97</integer>
    <key>question</key>
    <integer>-39</integer>
    <key>quotedblright</key>
    <integer>-161</integer>
    <key>quoteright</key>
    <integer>-161</integer>
    <key>semicolon</key>
    <integer>-91</integer>
    <key>slash</key>
    <integer>-125</integer>
    <key>y</key>
    <integer>-19</integer>
  </dict>
  <key>braceleft</key>
  <dict>
    <key>J</key>
    <integer>-141</integer>
  </dict>
  <key>bracketleft</key>
  <dict>
    <key>J</key>
    <integer>-131</integer>
  </dict>
  <key>c</key>
  <dict>
    <key>colon</key>
    <integer>-67</integer>
    <key>comma</key>
    <integer>-85</integer>
    <key>exclam</key>
    <integer>-69</integer>
    <key>h</key>
    <integer>-47</integer>
    <key>k</key>
    <integer>-49</integer>
    <key>l</key>
    <integer>-35</integer>
    <key>period</key>
    <integer>-69</integer>
    <key>question</key>
    <integer>-45</integer>
    <key>quotedblright</key>
    <integer>-153</integer>
    <key>quoteright</key>
    <integer>-153</integer>
    <key>semicolon</key>
    <integer>-87</integer>
    <key>slash</key>
    <integer>-105</integer>
  </dict>
  <key>cent</key>
  <dict>
    <key>eight</key>
    <integer>-33</integer>
    <key>four</key>
    <integer>-69</integer>
    <key>seven</key>
    <integer>-19</integer>
  </dict>
  <key>comma</key>
  <dict>
    <key>four</key>
    <integer>-15</integer>
    <key>six</key>
    <integer>-15</integer>
    <key>zero</key>
    <integer>-15</integer>
  </dict>
  <key>d</key>
  <dict>
    <key>c</key>
    <integer>-25</integer>
    <key>colon</key>
    <integer>-69</integer>
    <key>comma</key>
    <integer>-85</integer>
    <key>d</key>
    <integer>-23</integer>
    <key>exclam</key>
    <integer>-69</integer>
    <key>period</key>
    <integer>-71</integer>
    <key>question</key>
    <integer>-65</integer>
    <key>quotedblright</key>
    <integer>-169</integer>
    <key>quoteright</key>
    <integer>-169</integer>
    <key>semicolon</key>
    <integer>-87</integer>
    <key>slash</key>
    <integer>-97</integer>
    <key>v</key>
    <integer>-23</integer>
    <key>w</key>
    <integer>-23</integer>
    <key>y</key>
    <integer>-55</integer>
  </dict>
  <key>dollar</key>
  <dict>
    <key>eight</key>
    <integer>-17</integer>
    <key>five</key>
    <integer>-45</integer>
    <key>four</key>
    <integer>-19</integer>
    <key>nine</key>
    <integer>-53</integer>
    <key>six</key>
    <integer>-17</integer>
    <key>three</key>
    <integer>-45</integer>
    <key>two</key>
    <integer>-55</integer>
    <key>zero</key>
    <integer>-17</integer>
  </dict>
  <key>e</key>
  <dict>
    <key>comma</key>
    <integer>-33</integer>
    <key>quotedblright</key>
    <integer>-133</integer>
    <key>quoteright</key>
    <integer>-133</integer>
    <key>semicolon</key>
    <integer>-35</integer>
    <key>slash</key>
    <integer>-13</integer>
    <key>y</key>
    <integer>-13</integer>
  </dict>
  <key>eight</key>
  <dict>
    <key>comma</key>
    <integer>-63</integer>
    <key>five</key>
    <integer>-17</integer>
    <key>nine</key>
    <integer>58</integer>
    <key>period</key>
    <integer>50</integer>
    <key>periodcentered</key>
    <integer>-23</integer>
    <key>slash</key>
    <integer>-75</integer>
    <key>three</key>
    <integer>-15</integer>
  </dict>
  <key>emdash</key>
  <dict>
    <key>emdash</key>
    <integer>-80</integer>
  </dict>
  <key>f</key>
  <dict>
    <key>quotedblleft</key>
    <integer>-63</integer>
    <key>quotedblright</key>
    <integer>-51</integer>
    <key>quoteleft</key>
    <integer>-69</integer>
    <key>quoteright</key>
    <integer>-51</integer>
  </dict>
  <key>five</key>
  <dict>
    <key>comma</key>
    <integer>-119</integer>
    <key>eight</key>
    <integer>-27</integer>
    <key>five</key>
    <integer>-79</integer>
    <key>four</key>
    <integer>-31</integer>
    <key>nine</key>
    <integer>-59</integer>
    <key>period</key>
    <integer>-42</integer>
    <key>periodcentered</key>
    <integer>-37</integer>
    <key>six</key>
    <integer>17</integer>
    <key>three</key>
    <integer>-79</integer>
    <key>two</key>
    <integer>-57</integer>
    <key>zero</key>
    <integer>-15</integer>
  </dict>
  <key>four</key>
  <dict>
    <key>five</key>
    <integer>17</integer>
    <key>nine</key>
    <integer>-30</integer>
    <key>period</key>
    <integer>-42</integer>
    <key>three</key>
    <integer>-37</integer>
  </dict>
  <key>g</key>
  <dict>
    <key>a</key>
    <integer>-55</integer>
    <key>exclam</key>
    <integer>-83</integer>
    <key>g</key>
    <integer>-33</integer>
    <key>o</key>
    <integer>-53</integer>
    <key>period</key>
    <integer>-89</integer>
    <key>question</key>
    <integer>-45</integer>
    <key>quotedblright</key>
    <integer>-139</integer>
    <key>quoteright</key>
    <integer>-139</integer>
    <key>semicolon</key>
    <integer>-83</integer>
    <key>slash</key>
    <integer>-73</integer>
    <key>y</key>
    <integer>-13</integer>
  </dict>
  <key>guillemotright</key>
  <dict>
    <key>comma</key>
    <integer>-143</integer>
    <key>i</key>
    <integer>-13</integer>
    <key>l</key>
    <integer>-15</integer>
    <key>period</key>
    <integer>-131</integer>
    <key>quotedblright</key>
    <integer>-239</integer>
    <key>quoteright</key>
    <integer>-239</integer>
  </dict>
  <key>h</key>
  <dict>
    <key>colon</key>
    <integer>-27</integer>
    <key>comma</key>
    <integer>-45</integer>
    <key>exclam</key>
    <integer>-29</integer>
    <key>period</key>
    <integer>-29</integer>
    <key>question</key>
    <integer>-27</integer>
    <key>quotedblright</key>
    <integer>-175</integer>
    <key>quoteright</key>
    <integer>-175</integer>
    <key>semicolon</key>
    <integer>-49</integer>
    <key>slash</key>
    <integer>-57</integer>
    <key>y</key>
    <integer>-21</integer>
  </dict>
  <key>i</key>
  <dict>
    <key>colon</key>
    <integer>-47</integer>
    <key>comma</key>
    <integer>-65</integer>
    <key>exclam</key>
    <integer>-49</integer>
    <key>period</key>
    <integer>-49</integer>
    <key>question</key>
    <integer>-45</integer>
    <key>quotedblright</key>
    <integer>-157</integer>
    <key>quoteright</key>
    <integer>-157</integer>
    <key>semicolon</key>
    <integer>-67</integer>
    <key>slash</key>
    <integer>-75</integer>
    <key>v</key>
    <integer>-13</integer>
  </dict>
  <key>j</key>
  <dict>
    <key>colon</key>
    <integer>-107</integer>
    <key>comma</key>
    <integer>-133</integer>
    <key>exclam</key>
    <integer>-107</integer>
    <key>o</key>
    <integer>-63</integer>
    <key>period</key>
    <integer>-109</integer>
    <key>question</key>
    <integer>-53</integer>
    <key>semicolon</key>
    <integer>-131</integer>
    <key>slash</key>
    <integer>-123</integer>
  </dict>
  <key>k</key>
  <dict>
    <key>question</key>
    <integer>-45</integer>
    <key>quotedblright</key>
    <integer>-135</integer>
    <key>quoteright</key>
    <integer>-135</integer>
    <key>semicolon</key>
    <integer>-65</integer>
    <key>slash</key>
    <integer>-63</integer>
    <key>y</key>
    <integer>-11</integer>
  </dict>
  <key>l</key>
  <dict>
    <key>A</key>
    <integer>-59</integer>
    <key>V</key>
    <integer>-37</integer>
    <key>W</key>
    <integer>-47</integer>
    <key>Y</key>
    <integer>-31</integer>
    <key>colon</key>
    <integer>-61</integer>
    <key>comma</key>
    <integer>-75</integer>
    <key>exclam</key>
    <integer>-61</integer>
    <key>o</key>
    <integer>-11</integer>
    <key>period</key>
    <integer>-61</integer>
    <key>question</key>
    <integer>-53</integer>
    <key>quotedblleft</key>
    <integer>-173</integer>
    <key>quotedblright</key>
    <integer>-165</integer>
    <key>quoteleft</key>
    <integer>-179</integer>
    <key>quoteright</key>
    <integer>-165</integer>
    <key>semicolon</key>
    <integer>-81</integer>
    <key>slash</key>
    <integer>-87</integer>
    <key>v</key>
    <integer>-21</integer>
    <key>w</key>
    <integer>-19</integer>
    <key>y</key>
    <integer>-47</integer>
  </dict>
  <key>m</key>
  <dict>
    <key>colon</key>
    <integer>-29</integer>
    <key>comma</key>
    <integer>-47</integer>
    <key>exclam</key>
    <integer>-31</integer>
    <key>period</key>
    <integer>-31</integer>
    <key>question</key>
    <integer>-29</integer>
    <key>quotedblright</key>
    <integer>-175</integer>
    <key>quoteright</key>
    <integer>-175</integer>
    <key>semicolon</key>
    <integer>-49</integer>
    <key>slash</key>
    <integer>-67</integer>
    <key>y</key>
    <integer>-23</integer>
  </dict>
  <key>nine</key>
  <dict>
    <key>comma</key>
    <integer>-149</integer>
    <key>eight</key>
    <integer>-15</integer>
    <key>five</key>
    <integer>-45</integer>
    <key>four</key>
    <integer>-17</integer>
    <key>period</key>
    <integer>-94</integer>
    <key>periodcentered</key>
    <integer>-11</integer>
    <key>slash</key>
    <integer>-139</integer>
    <key>three</key>
    <integer>-49</integer>
  </dict>
  <key>one</key>
  <dict>
    <key>comma</key>
    <integer>-65</integer>
    <key>period</key>
    <integer>8</integer>
    <key>periodcentered</key>
    <integer>-39</integer>
    <key>two</key>
    <integer>67</integer>
  </dict>
  <key>p</key>
  <dict>
    <key>colon</key>
    <integer>-63</integer>
    <key>comma</key>
    <integer>-105</integer>
    <key>exclam</key>
    <integer>-69</integer>
    <key>period</key>
    <integer>-91</integer>
    <key>question</key>
    <integer>-39</integer>
    <key>quotedblright</key>
    <integer>-153</integer>
    <key>quoteright</key>
    <integer>-153</integer>
    <key>semicolon</key>
    <integer>-89</integer>
    <key>slash</key>
    <integer>-119</integer>
    <key>y</key>
    <integer>-19</integer>
  </dict>
  <key>parenleft</key>
  <dict>
    <key>J</key>
    <integer>-89</integer>
  </dict>
  <key>period</key>
  <dict>
    <key>eight</key>
    <integer>87</integer>
    <key>five</key>
    <integer>34</integer>
    <key>four</key>
    <integer>41</integer>
    <key>nine</key>
    <integer>62</integer>
    <key>seven</key>
    <integer>69</integer>
    <key>six</key>
    <integer>50</integer>
    <key>three</key>
    <integer>75</integer>
    <key>two</key>
    <integer>50</integer>
    <key>zero</key>
    <integer>63</integer>
  </dict>
  <key>periodcentered</key>
  <dict>
    <key>five</key>
    <integer>-51</integer>
    <key>nine</key>
    <integer>-55</integer>
    <key>one</key>
    <integer>-79</integer>
    <key>seven</key>
    <integer>-19</integer>
    <key>three</key>
    <integer>-51</integer>
    <key>two</key>
    <integer>-41</integer>
  </dict>
  <key>q</key>
  <dict>
    <key>colon</key>
    <integer>-77</integer>
    <key>comma</key>
    <integer>-101</integer>
    <key>exclam</key>
    <integer>-77</integer>
    <key>period</key>
    <integer>-79</integer>
    <key>question</key>
    <integer>-55</integer>
    <key>quotedblright</key>
    <integer>-139</integer>
    <key>quoteright</key>
    <integer>-139</integer>
    <key>semicolon</key>
    <integer>-101</integer>
    <key>slash</key>
    <integer>-87</integer>
  </dict>
  <key>quotedblleft</key>
  <dict>
    <key>A</key>
    <integer>-203</integer>
    <key>a</key>
    <integer>-137</integer>
    <key>c</key>
    <integer>-125</integer>
    <key>d</key>
    <integer>-163</integer>
    <key>g</key>
    <integer>-95</integer>
    <key>m</key>
    <integer>-31</integer>
    <key>n</key>
    <integer>-31</integer>
    <key>o</key>
    <integer>-131</integer>
    <key>p</key>
    <integer>-47</integer>
    <key>q</key>
    <integer>-125</integer>
    <key>quoteleft</key>
    <integer>-155</integer>
    <key>r</key>
    <integer>-23</integer>
    <key>s</key>
    <integer>-91</integer>
    <key>t</key>
    <integer>-25</integer>
    <key>u</key>
    <integer>-11</integer>
    <key>x</key>
    <integer>-77</integer>
    <key>y</key>
    <integer>-29</integer>
    <key>z</key>
    <integer>-75</integer>
  </dict>
  <key>quotedblright</key>
  <dict>
    <key>quoteright</key>
    <integer>-149</integer>
  </dict>
  <key>quoteleft</key>
  <dict>
    <key>A</key>
    <integer>-185</integer>
    <key>X</key>
    <integer>-23</integer>
    <key>a</key>
    <integer>-119</integer>
    <key>c</key>
    <integer>-107</integer>
    <key>d</key>
    <integer>-145</integer>
    <key>g</key>
    <integer>-77</integer>
    <key>m</key>
    <integer>-13</integer>
    <key>n</key>
    <integer>-13</integer>
    <key>o</key>
    <integer>-113</integer>
    <key>p</key>
    <integer>-29</integer>
    <key>q</key>
    <integer>-107</integer>
    <key>quotedblleft</key>
    <integer>-131</integer>
    <key>quoteleft</key>
    <integer>-137</integer>
    <key>s</key>
    <integer>-73</integer>
    <key>x</key>
    <integer>-59</integer>
    <key>y</key>
    <integer>-11</integer>
    <key>z</key>
    <integer>-57</integer>
  </dict>
  <key>quoteright</key>
  <dict>
    <key>d</key>
    <integer>-215</integer>
    <key>l</key>
    <integer>-27</integer>
    <key>m</key>
    <integer>-89</integer>
    <key>quotedblright</key>
    <integer>-135</integer>
    <key>quoteright</key>
    <integer>-135</integer>
    <key>r</key>
    <integer>-83</integer>
    <key>s</key>
    <integer>-143</integer>
    <key>t</key>
    <integer>-81</integer>
    <key>v</key>
    <integer>-57</integer>
  </dict>
  <key>r</key>
  <dict>
    <key>a</key>
    <integer>-73</integer>
    <key>comma</key>
    <integer>-211</integer>
    <key>d</key>
    <integer>-79</integer>
    <key>exclam</key>
    <integer>-87</integer>
    <key>g</key>
    <integer>-55</integer>
    <key>hyphen</key>
    <integer>-15</integer>
    <key>k</key>
    <integer>-57</integer>
    <key>m</key>
    <integer>-11</integer>
    <key>o</key>
    <integer>-63</integer>
    <key>q</key>
    <integer>-75</integer>
    <key>question</key>
    <integer>-45</integer>
    <key>quotedblright</key>
    <integer>-139</integer>
    <key>quoteright</key>
    <integer>-139</integer>
    <key>s</key>
    <integer>-61</integer>
    <key>semicolon</key>
    <integer>-103</integer>
    <key>slash</key>
    <integer>-171</integer>
    <key>x</key>
    <integer>-51</integer>
    <key>y</key>
    <integer>-11</integer>
  </dict>
  <key>s</key>
  <dict>
    <key>colon</key>
    <integer>-69</integer>
    <key>comma</key>
    <integer>-95</integer>
    <key>exclam</key>
    <integer>-69</integer>
    <key>period</key>
    <integer>-71</integer>
    <key>question</key>
    <integer>-55</integer>
    <key>quotedblright</key>
    <integer>-133</integer>
    <key>quoteright</key>
    <integer>-133</integer>
    <key>semicolon</key>
    <integer>-93</integer>
    <key>slash</key>
    <integer>-103</integer>
  </dict>
  <key>seven</key>
  <dict>
    <key>comma</key>
    <integer>-249</integer>
    <key>eight</key>
    <integer>-33</integer>
    <key>five</key>
    <integer>-101</integer>
    <key>four</key>
    <integer>-155</integer>
    <key>nine</key>
    <integer>-65</integer>
    <key>period</key>
    <integer>-100</integer>
    <key>periodcentered</key>
    <integer>-149</integer>
    <key>six</key>
    <integer>-105</integer>
    <key>slash</key>
    <integer>-245</integer>
    <key>three</key>
    <integer>-99</integer>
    <key>two</key>
    <integer>-63</integer>
    <key>zero</key>
    <integer>-81</integer>
  </dict>
  <key>six</key>
  <dict>
    <key>comma</key>
    <integer>-95</integer>
    <key>five</key>
    <integer>-59</integer>
    <key>four</key>
    <integer>-15</integer>
    <key>period</key>
    <integer>-12</integer>
    <key>periodcentered</key>
    <integer>-23</integer>
    <key>seven</key>
    <integer>58</integer>
    <key>three</key>
    <integer>-55</integer>
    <key>two</key>
    <integer>-55</integer>
  </dict>
  <key>slash</key>
  <dict>
    <key>A</key>
    <integer>-247</integer>
    <key>B</key>
    <integer>-99</integer>
    <key>C</key>
    <integer>-125</integer>
    <key>G</key>
    <integer>-27</integer>
    <key>H</key>
    <integer>-99</integer>
    <key>I</key>
    <integer>-105</integer>
    <key>K</key>
    <integer>-99</integer>
    <key>L</key>
    <integer>-99</integer>
    <key>M</key>
    <integer>-107</integer>
    <key>O</key>
    <integer>-139</integer>
    <key>P</key>
    <integer>-105</integer>
    <key>Q</key>
    <integer>-143</integer>
    <key>S</key>
    <integer>-117</integer>
    <key>V</key>
    <integer>-37</integer>
    <key>X</key>
    <integer>-71</integer>
    <key>Y</key>
    <integer>-31</integer>
    <key>Z</key>
    <integer>-75</integer>
    <key>a</key>
    <integer>-195</integer>
    <key>d</key>
    <integer>-195</integer>
    <key>e</key>
    <integer>-83</integer>
    <key>five</key>
    <integer>-135</integer>
    <key>h</key>
    <integer>-61</integer>
    <key>i</key>
    <integer>-83</integer>
    <key>j</key>
    <integer>-189</integer>
    <key>k</key>
    <integer>-61</integer>
    <key>m</key>
    <integer>-123</integer>
    <key>n</key>
    <integer>-123</integer>
    <key>nine</key>
    <integer>-103</integer>
    <key>o</key>
    <integer>-187</integer>
    <key>one</key>
    <integer>-123</integer>
    <key>q</key>
    <integer>-195</integer>
    <key>r</key>
    <integer>-117</integer>
    <key>s</key>
    <integer>-181</integer>
    <key>seven</key>
    <integer>-27</integer>
    <key>six</key>
    <integer>-139</integer>
    <key>t</key>
    <integer>-115</integer>
    <key>three</key>
    <integer>-133</integer>
    <key>two</key>
    <integer>-99</integer>
    <key>v</key>
    <integer>-91</integer>
    <key>w</key>
    <integer>-91</integer>
    <key>x</key>
    <integer>-163</integer>
    <key>z</key>
    <integer>-163</integer>
    <key>zero</key>
    <integer>-119</integer>
  </dict>
  <key>sterling</key>
  <dict>
    <key>eight</key>
    <integer>-41</integer>
    <key>five</key>
    <integer>-39</integer>
    <key>four</key>
    <integer>-45</integer>
    <key>nine</key>
    <integer>-53</integer>
    <key>one</key>
    <integer>-59</integer>
    <key>six</key>
    <integer>-37</integer>
    <key>three</key>
    <integer>-37</integer>
    <key>two</key>
    <integer>-59</integer>
    <key>zero</key>
    <integer>-37</integer>
  </dict>
  <key>t</key>
  <dict>
    <key>exclam</key>
    <integer>-83</integer>
    <key>o</key>
    <integer>-35</integer>
    <key>question</key>
    <integer>-51</integer>
    <key>quotedblright</key>
    <integer>-135</integer>
    <key>quoteright</key>
    <integer>-135</integer>
    <key>semicolon</key>
    <integer>-103</integer>
    <key>slash</key>
    <integer>-119</integer>
  </dict>
  <key>three</key>
  <dict>
    <key>comma</key>
    <integer>-95</integer>
    <key>five</key>
    <integer>-57</integer>
    <key>four</key>
    <integer>50</integer>
    <key>period</key>
    <integer>-42</integer>
    <key>periodcentered</key>
    <integer>-25</integer>
    <key>three</key>
    <integer>-55</integer>
  </dict>
  <key>two</key>
  <dict>
    <key>period</key>
    <integer>-9</integer>
    <key>periodcentered</key>
    <integer>-27</integer>
    <key>three</key>
    <integer>66</integer>
  </dict>
  <key>u</key>
  <dict>
    <key>colon</key>
    <integer>-31</integer>
    <key>comma</key>
    <integer>-45</integer>
    <key>exclam</key>
    <integer>-33</integer>
    <key>period</key>
    <integer>-33</integer>
    <key>question</key>
    <integer>-27</integer>
    <key>quotedblright</key>
    <integer>-145</integer>
    <key>quoteright</key>
    <integer>-145</integer>
    <key>semicolon</key>
    <integer>-51</integer>
    <key>slash</key>
    <integer>-67</integer>
  </dict>
  <key>v</key>
  <dict>
    <key>a</key>
    <integer>-49</integer>
    <key>comma</key>
    <integer>-159</integer>
    <key>period</key>
    <integer>-147</integer>
    <key>question</key>
    <integer>-43</integer>
    <key>quotedblright</key>
    <integer>-141</integer>
    <key>semicolon</key>
    <integer>-103</integer>
  </dict>
  <key>w</key>
  <dict>
    <key>a</key>
    <integer>-55</integer>
    <key>c</key>
    <integer>-41</integer>
    <key>comma</key>
    <integer>-163</integer>
    <key>d</key>
    <integer>-59</integer>
    <key>exclam</key>
    <integer>-89</integer>
    <key>h</key>
    <integer>-61</integer>
    <key>o</key>
    <integer>-45</integer>
    <key>period</key>
    <integer>-149</integer>
    <key>question</key>
    <integer>-47</integer>
    <key>quotedblright</key>
    <integer>-139</integer>
    <key>quoteright</key>
    <integer>-139</integer>
    <key>semicolon</key>
    <integer>-105</integer>
    <key>slash</key>
    <integer>-169</integer>
  </dict>
  <key>x</key>
  <dict>
    <key>c</key>
    <integer>-11</integer>
    <key>exclam</key>
    <integer>-55</integer>
    <key>question</key>
    <integer>-53</integer>
    <key>quotedblright</key>
    <integer>-141</integer>
    <key>quoteright</key>
    <integer>-141</integer>
    <key>semicolon</key>
    <integer>-73</integer>
    <key>slash</key>
    <integer>-89</integer>
  </dict>
  <key>y</key>
  <dict>
    <key>a</key>
    <integer>-43</integer>
    <key>c</key>
    <integer>-29</integer>
    <key>comma</key>
    <integer>-135</integer>
    <key>d</key>
    <integer>-45</integer>
    <key>exclam</key>
    <integer>-85</integer>
    <key>o</key>
    <integer>-35</integer>
    <key>period</key>
    <integer>-121</integer>
    <key>q</key>
    <integer>-43</integer>
    <key>question</key>
    <integer>-45</integer>
    <key>quotedblright</key>
    <integer>-137</integer>
    <key>quoteright</key>
    <integer>-137</integer>
    <key>semicolon</key>
    <integer>-103</integer>
    <key>slash</key>
    <integer>-153</integer>
  </dict>
  <key>yen</key>
  <dict>
    <key>eight</key>
    <integer>-97</integer>
    <key>five</key>
    <integer>-125</integer>
    <key>four</key>
    <integer>-103</integer>
    <key>nine</key>
    <integer>-99</integer>
    <key>one</key>
    <integer>-109</integer>
    <key>seven</key>
    <integer>-25</integer>
    <key>six</key>
    <integer>-83</integer>
    <key>three</key>
    <integer>-123</integer>
    <key>two</key>
    <integer>-91</integer>
    <key>zero</key>
    <integer>-77</integer>
  </dict>
  <key>z</key>
  <dict>
    <key>c</key>
    <integer>-15</integer>
    <key>colon</key>
    <integer>-41</integer>
    <key>comma</key>
    <integer>-59</integer>
    <key>d</key>
    <integer>-17</integer>
    <key>exclam</key>
    <integer>-39</integer>
    <key>period</key>
    <integer>-43</integer>
    <key>question</key>
    <integer>-39</integer>
    <key>quotedblright</key>
    <integer>-133</integer>
    <key>quoteright</key>
    <integer>-133</integer>
    <key>semicolon</key>
    <integer>-69</integer>
    <key>slash</key>
    <integer>-35</integer>
  </dict>
  <key>zero</key>
  <dict>
    <key>period</key>
    <integer>-44</integer>
  </dict>
</dict>
</plist>
