<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>class8</key>
  <array>
    <string>_1779</string>
    <string>_1779</string>
    <string>_1775</string>
    <string>_1775</string>
    <string>_1773</string>
    <string>_1773</string>
    <string>_1781</string>
    <string>_1781</string>
    <string>_124</string>
    <string>_124</string>
    <string>_125</string>
    <string>_125</string>
    <string>_1776</string>
    <string>_1776</string>
    <string>_1774</string>
    <string>_1774</string>
    <string>_1777</string>
    <string>_1777</string>
    <string>_1782</string>
    <string>_1782</string>
    <string>_126</string>
    <string>_126</string>
    <string>_1778</string>
    <string>_1778</string>
    <string>_1780</string>
    <string>_1780</string>
    <string>_1783</string>
    <string>_1783</string>
    <string>_1784</string>
    <string>_1784</string>
  </array>
</dict>
</plist>
